<ion-content [fullscreen]="true">
  <div class="content">
    <div *ngFor="let item of products">
      <div (click)="details(item?._id)">
        <div class="d-flex justify-content-around">
          <div>
            <img class="products-img" [src]='item.img' />
          </div>
          <div class="d-flex flex-column">
            <div class="product-description">
              <h3> {{item.name}} </h3>
              <h5> {{item.description}} </h5>
              <h4>{{item.price | currency:'BRL':true}}</h4>
            </div>
          </div>
        
        </div>
        <div class="divider"></div>
      </div>
    </div>
  </div>
  <div class="float-btn">
    <button class="btn-primary">Pedidos</button>
  </div>
</ion-content> 